<div class="call_out_background_color">
        <div class="call_out_background">
            <div class="call_out_staff">
                <p>呼叫中。</p>    
                <p>麻烦请稍等。</p>
            </div>
            <div class="call_out_image">
                <div class="panda">
                    <%= image_tag '/panda2.png' %>
                </div>
                <div class="panda2">
                    <%= link_to image_tag('/panda.png'), order_top_path %>
                </div>
            </div>
        </div>
</div>
